---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="post meta">
    Posted <time class='post timestamp' datetime='{{ page.date | date: "%F %T %Z" }}'>
        {{page.date | date_to_string }}
    </time>
    by <span class='author'>{{ page.author | default: site.author.name }}</span>
</p>


{% assign fcontent = content %}

{% assign fcontent = fcontent | replace: '<h6', '<em' %}
{% assign fcontent = fcontent | replace: '</h6', '</em' %}

{% assign fcontent = fcontent | replace: '<h5', '<h6' %}
{% assign fcontent = fcontent | replace: '</h5', '</h6' %}

{% assign fcontent = fcontent | replace: '<h4', '<h5' %}
{% assign fcontent = fcontent | replace: '</h4', '</h5' %}

{% assign fcontent = fcontent | replace: '<h3', '<h4' %}
{% assign fcontent = fcontent | replace: '</h3', '</h4' %}

{% assign fcontent = fcontent | replace: '<h2', '<h3' %}
{% assign fcontent = fcontent | replace: '</h2', '</h3' %}

{% assign fcontent = fcontent | replace: '<h1', '<h2' %}
{% assign fcontent = fcontent | replace: '</h1', '</h2' %}

<div class='post content'>
{{  fcontent }}
</div>